<!DOCTYPE html>
<meta charset="utf-8">
<link rel="preconnect" href="https://s.brightspace.com">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://d2l.dev/ui-core/index.js"></script>
<link rel="stylesheet" href="/style.css">

<title>{{title}} - Docs @ D2L</title>

<body class="d2l-typography">
    <header>
        <nav>
            <a href="/" class="home">Docs @ D2L</a>
            <d2l-input-search label="Search" placeholder="Search for documentation..."></d2l-input-search>
        </nav>
    </header>

    <main>
        {{content}}
    </main>
</body>
